<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.emgu.cv.xamarin" android:installLocation="auto" android:versionName="3.1.0" android:versionCode="3">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Emgu CV Demo" android:icon="@drawable/ic_launcher"></application>
</manifest>