<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net461" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="net461" />
  <package id="Xam.Plugin.Media" version="4.0.1.5" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.6.0.344457" targetFramework="net461" />
  <package id="Xamarin.Forms.Platform.WPF" version="3.6.0.344457" targetFramework="net461" />
</packages>