[submodule "Emgu.CV.Extern/tesseract/libtesseract/tesseract-ocr"]
	path = Emgu.CV.Extern/tesseract/libtesseract/tesseract-ocr
	url = git://git.code.sf.net/p/emgucv/tesseract-ocr
[submodule "Emgu.CV.Extern/cvblob/libcvblob"]
	path = Emgu.CV.Extern/cvblob/libcvblob
	url = git://git.code.sf.net/p/emgucv/cvblob
[submodule "opencv"]
	path = opencv
	url = git://git.code.sf.net/p/emgucv/opencv
	ignore = dirty
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = git://git.code.sf.net/p/emgucv/opencv_contrib
[submodule "opencv_extra"]
	path = opencv_extra
	url = https://github.com/Itseez/opencv_extra.git
