[submodule "Emgu.CV.Extern/tesseract/libtesseract/tesseract-ocr"]
	path = Emgu.CV.Extern/tesseract/libtesseract/tesseract-ocr
	url = git://emgucv.git.sourceforge.net/gitroot/emgucv/tesseract-ocr
[submodule "Emgu.CV.Extern/cvblob/libcvblob"]
	path = Emgu.CV.Extern/cvblob/libcvblob
	url = git://emgucv.git.sourceforge.net/gitroot/emgucv/cvblob
[submodule "opencv"]
	path = opencv
	url = git://code.opencv.org/opencv.git
