[submodule "opencv"]
	path = opencv
	url = https://github.com/emgucv/opencv.git
	ignore = dirty
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = https://github.com/emgucv/opencv_contrib.git
	ignore = dirty
[submodule "opencv_extra"]
	path = opencv_extra
	url = https://github.com/opencv/opencv_extra.git
	ignore = dirty
[submodule "Emgu.CV.Extern/tesseract/libtesseract/tesseract-ocr.git"]
	path = Emgu.CV.Extern/tesseract/libtesseract/tesseract-ocr.git
	url = https://github.com/emgucv/tesseract.git
	ignore = dirty
[submodule "vtk"]
	path = vtk
	url = https://github.com/Kitware/VTK.git
	ignore = dirty
[submodule "Emgu.CV.Extern/tesseract/libtesseract/leptonica/leptonica.git"]
	path = Emgu.CV.Extern/tesseract/libtesseract/leptonica/leptonica.git
	url = https://github.com/emgucv/leptonica.git
	ignore = dirty
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
	ignore = dirty
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
	ignore = dirty
[submodule "hdf5"]
	path = hdf5
	url = https://github.com/HDFGroup/hdf5.git
	ignore = dirty
[submodule "Emgu.CV.Extern/depthai-core"]
	path = Emgu.CV.Extern/depthai-core
	url = https://github.com/luxonis/depthai-core.git
	ignore = dirty
[submodule "3rdParty/freetype2"]
	path = 3rdParty/freetype2
	url = https://gitlab.freedesktop.org/freetype/freetype.git
	ignore = dirty
