<cruisecontrol>
  <project name="EmguCV">
    <triggers>
      <scheduleTrigger time="3:30" buildCondition="IfModificationExists" name="Scheduled">
      </scheduleTrigger>
    </triggers>
    <sourcecontrol type="svn">
      <trunkUrl>https://emgucv.svn.sourceforge.net/svnroot/emgucv</trunkUrl>
      <workingDirectory>C:\Users\canming\Desktop\cruisecontrol\emgucv</workingDirectory>
    </sourcecontrol>
    <tasks>
      <!--
      <exec>
        <executable>rm</executable>
        <baseDirectory>C:\Users\canming\Desktop\cruisecontrol\emgucv\bin</baseDirectory>
        <buildArgs>-rf *</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <devenv>
        <solutionfile>C:\Users\canming\Desktop\cruisecontrol\emgucv\Solution\VS2008\Emgu.CV.sln</solutionfile>
        <configuration>Release</configuration>
      </devenv>
      <exec>
        <executable>rm</executable>
        <baseDirectory>C:\Users\canming\Desktop\cruisecontrol\emgucv\bin</baseDirectory>
        <buildArgs>-rf *</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      -->
      <exec>
        <executable>ReleaseBuild.bat</executable>
        <baseDirectory>C:\Users\canming\Desktop\cruisecontrol\emgucv</baseDirectory>
        <buildArgs></buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <buildpublisher>
        <sourceDir>C:\Users\canming\Desktop\cruisecontrol\emgucv\release_zip</sourceDir>
        <publishDir>\\storage\canming\mediawiki\files\1.5.0.0</publishDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
      </buildpublisher>
      <devenv>
        <solutionfile>C:\Users\canming\Desktop\cruisecontrol\emgucv\Solution\VS2008\Emgu.CV.Test.sln</solutionfile>
        <configuration>Debug</configuration>
      </devenv>
      <nunit>
        <path>C:\Program Files\NUnit 2.4.6\bin\nunit-console.exe</path>
        <assemblies>
          <assembly>C:\Users\canming\Desktop\cruisecontrol\emgucv\bin\Emgu.CV.Test.dll</assembly>
        </assemblies>
      </nunit>
      <exec>
        <executable>SandcastleBuilderConsole.exe</executable>
        <baseDirectory>C:\Program Files\EWSoftware\Sandcastle Help File Builder</baseDirectory>
        <buildArgs>C:\Users\canming\Desktop\cruisecontrol\emgucv\Document\Emgu.CV.shfb</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <exec>
        <executable>c:\cygwin\bin\find</executable>
        <baseDirectory>C:\Users\canming\Desktop\cruisecontrol\emgucv\Document\Help\html</baseDirectory>
        <buildArgs>. -name "*.htm" -type f -exec sed -i -f C:\Users\canming\Desktop\cruisecontrol\emgucv\Cruisecontrol\adscript.txt  {} ;</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <buildpublisher>
        <sourceDir>C:\Users\canming\Desktop\cruisecontrol\emgucv\Document\Help</sourceDir>
        <publishDir>\\storage\canming\mediawiki\files\1.5.0.0\</publishDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
      </buildpublisher>
    </tasks>
  </project>
</cruisecontrol>