<cruisecontrol>
   <project name="EmguCV">
      <triggers>
         <scheduleTrigger time="3:30" buildCondition="IfModificationExists" name="Scheduled">
         </scheduleTrigger>
      </triggers>
      <sourcecontrol type="svn">
         <trunkUrl>https://emgucv.svn.sourceforge.net/svnroot/emgucv</trunkUrl>
         <workingDirectory>C:\Users\canming\Desktop\cruisecontrol\emgucv</workingDirectory>
      </sourcecontrol>
      <tasks>
         <!-- Start Building Documents-->
         <devenv>
            <solutionfile>C:\Users\canming\Desktop\cruisecontrol\emgucv\Solution\VS2008\Emgu.CV.Test.sln</solutionfile>
            <configuration>Debug</configuration>
         </devenv>
         <nunit>
            <path>C:\Program Files\NUnit 2.4.6\bin\nunit-console.exe</path>
            <assemblies>
               <assembly>C:\Users\canming\Desktop\cruisecontrol\emgucv\bin\Emgu.CV.Test.dll</assembly>
            </assemblies>
         </nunit>
         <exec>
            <executable>rm</executable>
            <baseDirectory>C:\Users\canming\Desktop\cruisecontrol\emgucv\Document</baseDirectory>
            <buildArgs>-rf Help</buildArgs>
         </exec>
         <exec>
            <executable>SandcastleBuilderConsole.exe</executable>
            <baseDirectory>C:\Program Files\EWSoftware\Sandcastle Help File Builder</baseDirectory>
            <buildArgs>C:\Users\canming\Desktop\cruisecontrol\emgucv\Document\Emgu.CV.shfb</buildArgs>
            <buildTimeoutSeconds>3600</buildTimeoutSeconds>
         </exec>
         <exec>
            <executable>c:\cygwin\bin\find</executable>
            <baseDirectory>C:\Users\canming\Desktop\cruisecontrol\emgucv\Document\Help\html</baseDirectory>
            <buildArgs>. -name "*.htm" -type f -exec sed -i -f C:\Users\canming\Desktop\cruisecontrol\emgucv\Cruisecontrol\adscript.txt  {} ;</buildArgs>
            <buildTimeoutSeconds>3600</buildTimeoutSeconds>
         </exec>
         <exec>
            <!-- clean up the folder before publish -->
            <executable>rm</executable>
            <baseDirectory>C:\Users\canming\Desktop\cruisecontrol\emgucv</baseDirectory>
            <buildArgs>-rf C:\Users\canming\Desktop\cruisecontrol\emgucv\Document\Document-1.5.0.0.zip \\storage\canming\web\mediawiki\phase3\files\1.5.0.0\*</buildArgs>
            <buildTimeoutSeconds>3600</buildTimeoutSeconds>
         </exec>
         <exec>
            <executable>zip</executable>
            <baseDirectory>C:\Users\canming\Desktop\cruisecontrol\emgucv\Document</baseDirectory>
            <buildArgs>-r Document-1.5.0.0.zip Help</buildArgs>
            <buildTimeoutSeconds>3600</buildTimeoutSeconds>
         </exec>
         <exec>
            <executable>mv</executable>
            <baseDirectory>C:\Users\canming\Desktop\cruisecontrol\emgucv\Document</baseDirectory>
            <buildArgs>Document-1.5.0.0.zip Help\</buildArgs>
            <buildTimeoutSeconds>600</buildTimeoutSeconds>
         </exec>
         <buildpublisher>
            <sourceDir>C:\Users\canming\Desktop\cruisecontrol\emgucv\Document\Help</sourceDir>
            <publishDir>\\storage\canming\web\mediawiki\phase3\files\1.5.0.0\</publishDir>
            <useLabelSubDirectory>false</useLabelSubDirectory>
         </buildpublisher>
         <!-- End Building Documents-->
         <exec>
            <executable>ReleaseBuild.bat</executable>
            <baseDirectory>C:\Users\canming\Desktop\cruisecontrol\emgucv</baseDirectory>
            <buildArgs></buildArgs>
            <buildTimeoutSeconds>3600</buildTimeoutSeconds>
         </exec>
         <buildpublisher>
            <sourceDir>C:\Users\canming\Desktop\cruisecontrol\emgucv\release_zip</sourceDir>
            <publishDir>\\storage\canming\web\mediawiki\phase3\files\1.5.0.0</publishDir>
            <useLabelSubDirectory>false</useLabelSubDirectory>
         </buildpublisher>
         <exec>
            <executable>ReleaseBuild.bat</executable>
            <baseDirectory>C:\Users\canming\Desktop\cruisecontrol\emgucv</baseDirectory>
            <buildArgs></buildArgs>
            <buildTimeoutSeconds>3600</buildTimeoutSeconds>
         </exec>
         <buildpublisher>
            <sourceDir>C:\Users\canming\Desktop\cruisecontrol\emgucv\release_zip</sourceDir>
            <publishDir>\\storage\canming\web\mediawiki\phase3\files\1.5.0.0</publishDir>
            <useLabelSubDirectory>false</useLabelSubDirectory>
         </buildpublisher>
      </tasks>
   </project>
</cruisecontrol>