<cruisecontrol>
  <project name="Emgu CV">
<triggers>
    <scheduleTrigger time="23:30" buildCondition="ForceBuild" name="Scheduled">
      <weekDays>
        <weekDay>Monday</weekDay>
      </weekDays>
    </scheduleTrigger>
</triggers>
    <sourcecontrol type="svn">
      <trunkUrl>https://emgucv.svn.sourceforge.net/svnroot/emgucv</trunkUrl>
      <workingDirectory>C:\CruiseControl\Projects\emgucv</workingDirectory>
    </sourcecontrol>
    <tasks>
      <devenv>
	<solutionfile>C:\CruiseControl\Projects\emgucv\Solution\VS2008\Emgu.CV.sln</solutionfile>
	<configuration>Debug</configuration>
	</devenv>
	<exec>
		<executable>SandcastleBuilderConsole.exe</executable>
		<baseDirectory>C:\Program Files\EWSoftware\Sandcastle Help File Builder</baseDirectory>
		<buildArgs>C:\CruiseControl\Projects\emgucv\Document\Emgu.CV.shfb</buildArgs>
            <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
    </tasks>
  </project>
</cruisecontrol>