<configuration>
   <dllmap dll="cxcore110.dll" target="libcxcore.so" />
   <dllmap dll="cv110.dll" target="libcv.so" />
   <dllmap dll="cvaux110.dll" target="libcvaux.so" />
   <dllmap dll="highgui110.dll" target="libhighgui.so" />
   <dllmap dll="cvextern.dll" target="libcvextern.so" />
</configuration>
