<configuration>
   <dllmap dll="cxcore200.dll" target="cxcore.so" />
   <dllmap dll="cv200.dll" target="cv.so" />
   <dllmap dll="cvaux200.dll" target="cvaux.so" />
   <dllmap dll="highgui200.dll" target="libhighgui.so" />
   <dllmap dll="cvextern.dll" target="cvextern.so" />
</configuration>
