<cruisecontrol>
  <project name="EmguCV">
    <triggers>
      <scheduleTrigger time="4:30" buildCondition="IfModificationExists" name="Scheduled">
      </scheduleTrigger>
    </triggers>
    <sourcecontrol type="svn">
      <executable>C:\Program Files (x86)\CollabNet\Subversion Client\svn.exe</executable>
      <trunkUrl>https://emgucv.svn.sourceforge.net/svnroot/emgucv</trunkUrl>
      <workingDirectory>C:\CI\emgucv</workingDirectory>
    </sourcecontrol>
    <tasks>
      <exec>
        <executable>c:\cygwin\bin\perl.exe</executable>
        <baseDirectory>C:\CI\emgucv</baseDirectory>
        <buildArgs>C:\CI\emgucv\miscellaneous\svn-clean.pl -force</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <exec>
        <executable>C:\Program Files (x86)\CMake 2.8\bin\cmake.exe</executable>
        <baseDirectory>C:\CI\emgucv</baseDirectory>
        <buildArgs>-G "Visual Studio 9 2008" -DBUILD_TESTS:BOOL=FALSE -DBUILD_NEW_PYTHON_SUPPORT=FALSE -DEMGU_CV_DOCUMENTATION_BUILD:BOOL=TRUE .</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <!-- Build the unit tests -->
      <devenv>
        <solutionfile>C:\CI\emgucv\emgucv.sln</solutionfile>
        <configuration>Release</configuration>
        <executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
        <buildtype>build</buildtype>
        <project>Emgu.CV.Test</project>
      </devenv>
      <!-- Perform unit tests-->
      <!--
      <nunit>
        <path>C:\Program Files (x86)\TestDriven.NET 2.0\NUnit\2.4\nunit-console.exe</path>
        <assemblies>
          <assembly>C:\CI\emgucv\bin\Emgu.CV.Test.dll</assembly>
        </assemblies>
      </nunit>
      -->
      <!-- Build the Html document -->
      <devenv>
        <solutionfile>C:\CI\emgucv\emgucv.sln</solutionfile>
        <configuration>Release</configuration>
        <executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
        <buildtype>build</buildtype>
        <project>Emgu.CV.Document.Html</project>
        <buildTimeoutSeconds>14400</buildTimeoutSeconds>
      </devenv>
      <!-- build the release -->
      <devenv>
        <solutionfile>C:\CI\emgucv\emgucv.sln</solutionfile>
        <configuration>Release</configuration>
        <executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
        <buildtype>build</buildtype>
        <project>Package</project>
        <buildTimeoutSeconds>14400</buildTimeoutSeconds>
      </devenv>
      <exec>
        <executable>mkdir</executable>
        <baseDirectory>C:\CI\emgucv</baseDirectory>
        <buildArgs>deploy</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <exec>
        <executable>cp</executable>
        <baseDirectory>C:\CI\emgucv</baseDirectory>
        <buildArgs>*.exe deploy</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <exec>
        <executable>cp</executable>
        <baseDirectory>C:\CI\emgucv</baseDirectory>
        <buildArgs>*.zip deploy</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <buildpublisher>
        <sourceDir>C:\CI\emgucv\Help</sourceDir>
        <publishDir>\\storage\canming\web\mediawiki\phase3\files\2.1.0.0\document</publishDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
        <alwaysPublish>false</alwaysPublish>
      </buildpublisher>
      <buildpublisher>
        <sourceDir>C:\CI\emgucv\deploy</sourceDir>
        <publishDir>\\storage\canming\web\mediawiki\phase3\files\2.1.0.0\release</publishDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
        <alwaysPublish>false</alwaysPublish>
      </buildpublisher>
    </tasks>
  </project>
  <project name="EmguCV64">
    <triggers>
      <scheduleTrigger time="2:30" buildCondition="IfModificationExists" name="Scheduled">
      </scheduleTrigger>
    </triggers>
    <sourcecontrol type="svn">
      <executable>C:\Program Files (x86)\CollabNet\Subversion Client\svn.exe</executable>
      <trunkUrl>https://emgucv.svn.sourceforge.net/svnroot/emgucv</trunkUrl>
      <workingDirectory>C:\CI\emgucv64</workingDirectory>
    </sourcecontrol>
    <tasks>
      <!-- Clean up the folder before building the release-->
      <exec>
        <executable>c:\cygwin\bin\perl.exe</executable>
        <baseDirectory>C:\CI\emgucv64</baseDirectory>
        <buildArgs>C:\CI\emgucv64\miscellaneous\svn-clean.pl -force</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <exec>
        <executable>C:\Program Files (x86)\CMake 2.8\bin\cmake.exe</executable>
        <baseDirectory>C:\CI\emgucv64</baseDirectory>
        <buildArgs>-G "Visual Studio 9 2008 Win64" -DBUILD_TESTS:BOOL=FALSE -DBUILD_NEW_PYTHON_SUPPORT=FALSE .</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <!-- Build the unit tests -->
      <devenv>
        <solutionfile>C:\CI\emgucv64\emgucv.sln</solutionfile>
        <configuration>Release</configuration>
        <executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
        <buildtype>build</buildtype>
        <project>Emgu.CV.Test</project>
      </devenv>
      <!-- Perform unit tests-->
      <!--
      <nunit>
        <path>C:\Program Files (x86)\TestDriven.NET 2.0\NUnit\2.4\nunit-console.exe</path>
        <assemblies>
          <assembly>C:\CI\emgucv\bin\Emgu.CV.Test.dll</assembly>
        </assemblies>
      </nunit>
      -->
      <!-- build the release -->
      <devenv>
        <solutionfile>C:\CI\emgucv64\emgucv.sln</solutionfile>
        <configuration>Release</configuration>
        <executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
        <buildtype>build</buildtype>
        <project>Package</project>
        <buildTimeoutSeconds>14400</buildTimeoutSeconds>
      </devenv>
      <exec>
        <executable>mkdir</executable>
        <baseDirectory>C:\CI\emgucv64</baseDirectory>
        <buildArgs>deploy</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <exec>
        <executable>cp</executable>
        <baseDirectory>C:\CI\emgucv64</baseDirectory>
        <buildArgs>*.zip deploy</buildArgs>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
      <buildpublisher>
        <sourceDir>C:\CI\emgucv64\deploy</sourceDir>
        <publishDir>\\storage\canming\web\mediawiki\phase3\files\2.1.0.0\release</publishDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
        <alwaysPublish>false</alwaysPublish>
      </buildpublisher>
    </tasks>
  </project>
</cruisecontrol>
