<cruisecontrol>
   <project name="EmguCV">
      <triggers>
         <scheduleTrigger time="3:30" buildCondition="IfModificationExists" name="Scheduled">
         </scheduleTrigger>
      </triggers>
      <sourcecontrol type="svn">
         <executable>C:\Program Files\CollabNet Subversion Client\svn.exe</executable>
         <trunkUrl>https://emgucv.svn.sourceforge.net/svnroot/emgucv</trunkUrl>
         <workingDirectory>C:\CI\emgucv</workingDirectory>
      </sourcecontrol>
      <tasks>
         <!-- Build the Source package
         <exec>
            <executable>SourceBuild.bat</executable>
            <baseDirectory>C:\Users\canming\Desktop\cruisecontrol\emgucv</baseDirectory>
            <buildArgs></buildArgs>
            <buildTimeoutSeconds>3600</buildTimeoutSeconds>
         </exec>
         -->
         <!-- Build the OpenCV dll's -->
         <exec>
            <executable>BinaryBuild.bat</executable>
            <baseDirectory>C:\CI\emgucv</baseDirectory>
            <buildTimeoutSeconds>3600</buildTimeoutSeconds>
         </exec>
         <!-- Build the unit tests -->
         <devenv>
            <solutionfile>C:\CI\emgucv\Solution\VS2008\Emgu.CV.Test.sln</solutionfile>
            <configuration>Debug</configuration>
         </devenv>
         <!-- Perform unit tests-->
         <nunit>
            <path>C:\Program Files\NUnit 2.4.6\bin\nunit-console.exe</path>
            <assemblies>
               <assembly>C:\CI\emgucv\bin\Emgu.CV.Test.dll</assembly>
            </assemblies>
         </nunit>
         <!-- Clean up Document folder -->
         <exec>
            <executable>c:\cygwin\bin\rm.exe</executable>
            <buildArgs>-rf C:\CI\emgucv\Help</buildArgs>
         </exec>
         <!-- Build Documents -->
         <msbuild>
            <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
            <workingDirectory>C:\CI\emgucv\miscellaneous</workingDirectory>
            <projectFile>Emgu.CV.html.shfbproj</projectFile>
            <timeout>3600</timeout>
            <logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
         </msbuild>
         <!-- Zip the html help file -->
         <exec>
            <executable>c:\cygwin\bin\zip.exe</executable>
            <baseDirectory>C:\CI\emgucv</baseDirectory>
            <buildArgs>-r Document-2.0.0.0.zip Help</buildArgs>
            <buildTimeoutSeconds>3600</buildTimeoutSeconds>
         </exec>
         <!-- Move the zipped file to the right place-->
         <exec>
            <executable>cmd</executable>
            <baseDirectory>C:\CI\emgucv</baseDirectory>
            <buildArgs>/C move Document-2.0.0.0.zip Help\</buildArgs>
            <buildTimeoutSeconds>600</buildTimeoutSeconds>
         </exec>
         <!-- clean up the folder before publish -->
         <exec>
            <executable>c:\cygwin\bin\rm.exe</executable>
            <buildArgs>-rf \\storage\canming\web\mediawiki\phase3\files\2.0.0.0\*</buildArgs>
            <buildTimeoutSeconds>3600</buildTimeoutSeconds>
         </exec>
         <!-- Publish the Documents -->
         <buildpublisher>
            <sourceDir>C:\CI\emgucv\Help</sourceDir>
            <publishDir>\\storage\canming\web\mediawiki\phase3\files\2.0.0.0\</publishDir>
            <useLabelSubDirectory>false</useLabelSubDirectory>
         </buildpublisher>
         <!-- Publish the Sources 
         <buildpublisher>
            <sourceDir>C:\Users\canming\Desktop\cruisecontrol\emgucv\src</sourceDir>
            <publishDir>\\storage\canming\web\mediawiki\phase3\files\2.0.0.0\</publishDir>
            <useLabelSubDirectory>false</useLabelSubDirectory>
         </buildpublisher>
         -->
        <!-- Clean up the folder before building the release-->
        <exec>
          <executable>c:\cygwin\bin\perl.exe</executable>
          <baseDirectory>C:\CI\emgucv</baseDirectory>
          <buildArgs>C:\CI\emgucv\miscellaneous\svn-clean.pl --force</buildArgs>
          <buildTimeoutSeconds>3600</buildTimeoutSeconds>
        </exec>
         <!-- Build the Release Binary-->
         <exec>
            <executable>ReleaseBuild.bat</executable>
            <baseDirectory>C:\CI\emgucv</baseDirectory>
            <buildArgs></buildArgs>
            <buildTimeoutSeconds>3600</buildTimeoutSeconds>
         </exec>
         <!-- Publish the Release Binary-->
         <buildpublisher>
            <sourceDir>C:\CI\emgucv\release_zip</sourceDir>
            <publishDir>\\storage\canming\web\mediawiki\phase3\files\2.0.0.0</publishDir>
            <useLabelSubDirectory>false</useLabelSubDirectory>
         </buildpublisher>
      </tasks>
   </project>
</cruisecontrol>
