bin
obj
*.user
*.suo
_ReSharper.*
*.resharper
*.cache
~$*
*.usertasks
*.userprefs
.DS_Store?
ehthumbs.db
Thumbs.db
*.sqlite
*.iso
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.pidb
