<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Plugin.Permissions" version="2.2.1" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="3.1.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="xamarinios10" />
</packages>